body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 35px;
}
img {
  border-radius: 5%;
}
.focus-text {
  font-size: 100px;
}
.top-background {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  text-align: center;
  margin: 2px 2px;
  border-radius: 5px;
  padding: 110px 50px;
  color: aliceblue;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(232, 87, 25), rgb(242, 124, 81));
  padding: 10px 40px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 25px;
  line-height: 80px;
}
.donate-today {
  text-align: center;
  line-height: 50px;
  margin: 25px;
  border: 25px;
  padding: 50px;
}
.span-200 {
  border: 10px 20px;
  color: coral;
  border: 2px solid coral;
  border-radius: 10px;
}
.gray-p {
  color: grey;
  font-size: 25px;
}
span {
  padding: 20px 60px;
  color: gray;
}
.input-box {
    border: none;
    border-bottom: 2px solid rgb(163, 162, 162);
    width: 800px;
    font-size: 18px;
   padding-bottom: 5px;
    text-align: center;
  }
.Donation-Plan {
  text-align: center;
  margin: 25px;
  border: 25px;
  padding: 50px;
  line-height: 25px;
}
.donation-package {
  display: flex;
  max-width: 90%;
  margin: 100px 3%;
}
#quaoar {
  width: 30%;
  border-radius: 5%;
  padding: 2% 2%;
  margin-left: 5%;
  box-shadow: 5px 5px 20px gray;
}
.quaoar-1 {
  background-color: blanchedalmond;
}
.quaoar-2 {
  background-color: bisque;
}
.quaoar-3 {
  background-color: blanchedalmond;
}
.There-lives {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 20px;
  margin: 50px;
}
.half-width img {
  width: 100%;
}
.They-need {
  display: flex;
}
.half-width1 {
  width: 50%;
  padding: 20px;
  margin: 50px;
}
.half-width1 img {
  width: 100%;
}
.link-button1 {
  text-decoration: none;
  background-image: linear-gradient(rgb(235, 120, 54), rgb(233, 89, 81));
  padding: 10px 40px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 25px;
  line-height: 80px;
}
.My-Updates {
  text-align: center;
}
.subscribe{
  text-align: center;
  gap:0px;
}
.subscribe-button {
  margin: none;
  text-decoration: none;
  background-image: linear-gradient(rgb(227, 45, 28), rgb(177, 50, 43));
  padding: 5px 20px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 20px;
}
.e-input{
  border: none;
  background-color: rgb(226, 209, 209);
  width: 300px;
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 5px;
  text-align: left;
}
footer {
  background-color: rgb(208, 191, 191);
  text-align: center;
}
.footer-h {
  font-family: "Lobster", cursive;
  font-size: 50px;
  color: chocolate;
  padding-top: 40px;
}
.s-m {
  font-size: 30px;
  padding-bottom: 50px;
}
input {
  box-decoration-break: slice;
}
