body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 25px;
}
.focus-text {
  font-size: 100px;
}
.top-background {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  text-align: center;
  margin: 2px 2px;
  border-radius: 5px;
  padding: 110px 50px;
  color: aliceblue;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(232, 96, 23), rgb(243, 165, 10));
  padding: 10px 40px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 25px;
}
.donate-today {
  text-align: center;
  line-height: 50px;
  margin: 25px;
  border: 25px;
  padding: 50px;
}
.span-200 {
  border: 10px 20px;
  color: coral;
  border: 2px solid coral;
  border-radius: 10px;
}
.gray-p {
  color: grey;
  font-size: 25px;
}
span {
  padding: 20px 100px;
  color: gray;
}
.input-box{
  box-decoration-break: slice;
}
.Donation-Plan {
  text-align: center;
  margin: 25px;
  border: 25px;
  padding: 50px;
  line-height: 25px;
}
.donation-package{
  display: flex;
  max-width: 90%;
  margin:100px 3%;
}
#quaoar{
width: 30%;
border-radius: 5%;
padding: 2% 2%;
margin-left:5%;
box-shadow:5px 5px 20px gray;
}
.quaoar-1{
  background-color: blanchedalmond;
}
.quaoar-2{
  background-color: bisque;
}
.quaoar-3{
  background-color: blanchedalmond;
}
.There-lives {
  display: flex;
  margin-bottom: 150px;
}
.They-need {
  display: flex;
  margin-bottom: 150px;
}
.My-Updates {
  text-align: center;
}
.subscribe {
  text-align: center;
}
footer {
  background-color: gray;
  text-align: center;
  color: tomato;
}
input {
  box-decoration-break: slice;
}
